* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #474d57;
    color: #f1f1f1;
    box-sizing: border-box;
}

header {
    background-color: #ffcc00;
    color: #474d57;
    padding: 10px;
    border: 5px solid #808080;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

footer {
    margin-top: auto;
    background-color: #ffcc00;
    color: #474d57;
    border: 5px solid #808080;
    padding: 10px;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #3a3f47;
}

main button {
    padding: 10px;
    background-color: #ffcc00;
    color: #474d57;
    border: 2px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

main button:hover {
    background-color: #e6b800;
}

#eintragsListe li {
    margin-top: 20px;
    word-break: break-word;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    color: #474d57;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.eingabefenster {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eingabefenster input {
    padding: 10px;
    border: 2px solid #808080;;
    border-radius: 5px;
    margin-bottom: 10px;
}

.knöpfe {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.knöpfe button {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #474d57;
    border: 2px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.knöpfe button:hover {
    background-color: #e6b800;
}